<html>
<head>
	<title>SegComp RSA</title>
	<link rel="stylesheet" type="text/css" href="sakura.css">
	
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<h1>Bondia</h1>
	<p>Teste inicial pra ver se o CSS tá funcionando.</p>
	<p>É isso.</p>

	<!-- Tutoriais -->
		<!-- <div id="app">
			{{ message }}
		</div>

		<div id="app-2">
		  <span v-bind:title="message">
		    Hover your mouse over me for a few seconds
		    to see my dynamically bound title!
		  </span>
		</div>

		<div id="app-3">
		  <span v-if="seen">Now you see me</span>
		</div>

		<div id="app-4">
		  <ol>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ol>
		</div>


		<div id="app-5">
		  <p>{{ message }}</p>
		  <input v-model="message">
		  <button v-on:click="reverseMessage">Reverse Message</button>
		</div>

		<div id="app-6">
		  <p>{{ message }}</p>
		</div> -->

	<div id="app-RSA">
		<h2>Criptossistema RSA</h2>
	  <p>{{ message }}</p>
	  <input v-model="message">
	  <input v-model="chave">
	  <button v-on:click="encryptMessage">Encriptar</button>
	  <p>{{ codigo }} // {{ decriptado }}</p>
	</div>




	<script src="index.js"></script>
</body>

</html>